/**
 *
 * Author : Sam Teeter
 * Adapter for pywal-generated colors
 * 
 * Colors
 **/

@import "~/.cache/wal/colors-rofi-dark"

* {
    background-alt: @alternate-normal-background;
    selected:       @selected-normal-background;
    active:         @active-background;
    urgent:         @urgent-background;
}