@define-color borders_breeze #2f3b42;
@define-color content_view_bg_breeze #050e15;
@define-color error_color_backdrop_breeze #aa0000;
@define-color error_color_breeze #aa0000;
@define-color error_color_insensitive_backdrop_breeze #3c090d;
@define-color error_color_insensitive_breeze #3c090d;
@define-color insensitive_base_color_breeze #050d14;
@define-color insensitive_base_fg_color_breeze #4b5960;
@define-color insensitive_bg_color_breeze #050d14;
@define-color insensitive_borders_breeze #131c23;
@define-color insensitive_fg_color_breeze #4b5960;
@define-color insensitive_selected_bg_color_breeze #050d14;
@define-color insensitive_selected_fg_color_breeze #4b5960;
@define-color insensitive_unfocused_bg_color_breeze #050d14;
@define-color insensitive_unfocused_fg_color_breeze #4b5960;
@define-color insensitive_unfocused_selected_bg_color_breeze #050d14;
@define-color insensitive_unfocused_selected_fg_color_breeze #4b5960;
@define-color link_color_breeze #75aae0;
@define-color link_visited_color_breeze #a1b4ba;
@define-color success_color_backdrop_breeze #a1b4ba;
@define-color success_color_breeze #a1b4ba;
@define-color success_color_insensitive_backdrop_breeze #39454b;
@define-color success_color_insensitive_breeze #39454b;
@define-color theme_base_color_breeze #050e15;
@define-color theme_bg_color_breeze #050e15;
@define-color theme_button_background_backdrop_breeze #050e15;
@define-color theme_button_background_backdrop_insensitive_breeze #050d14;
@define-color theme_button_background_insensitive_breeze #050d14;
@define-color theme_button_background_normal_breeze #050e15;
@define-color theme_button_decoration_focus_backdrop_breeze #035781;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #042638;
@define-color theme_button_decoration_focus_breeze #035781;
@define-color theme_button_decoration_focus_insensitive_breeze #042638;
@define-color theme_button_decoration_hover_backdrop_breeze #034d6f;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #042232;
@define-color theme_button_decoration_hover_breeze #034d6f;
@define-color theme_button_decoration_hover_insensitive_breeze #042232;
@define-color theme_button_foreground_active_backdrop_breeze #d7f1f8;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #4b5960;
@define-color theme_button_foreground_active_breeze #d7f1f8;
@define-color theme_button_foreground_active_insensitive_breeze #4b5960;
@define-color theme_button_foreground_backdrop_breeze #a1b4ba;
@define-color theme_button_foreground_backdrop_insensitive_breeze #39454b;
@define-color theme_button_foreground_insensitive_breeze #39454b;
@define-color theme_button_foreground_normal_breeze #a1b4ba;
@define-color theme_fg_color_breeze #d7f1f8;
@define-color theme_header_background_backdrop_breeze #050e15;
@define-color theme_header_background_breeze #050e15;
@define-color theme_header_background_light_breeze #050e15;
@define-color theme_header_foreground_backdrop_breeze #d7f1f8;
@define-color theme_header_foreground_breeze #d7f1f8;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d7f1f8;
@define-color theme_header_foreground_insensitive_breeze #d7f1f8;
@define-color theme_hovering_selected_bg_color_breeze #034d6f;
@define-color theme_selected_bg_color_breeze #058bce;
@define-color theme_selected_fg_color_breeze #d7f1f8;
@define-color theme_text_color_breeze #d7f1f8;
@define-color theme_titlebar_background_backdrop_breeze #050e15;
@define-color theme_titlebar_background_breeze #050e15;
@define-color theme_titlebar_background_light_breeze #050e15;
@define-color theme_titlebar_foreground_backdrop_breeze #a1a9b1;
@define-color theme_titlebar_foreground_breeze #d7f1f8;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #a1a9b1;
@define-color theme_titlebar_foreground_insensitive_breeze #a1a9b1;
@define-color theme_unfocused_base_color_breeze #050e15;
@define-color theme_unfocused_bg_color_breeze #050e15;
@define-color theme_unfocused_fg_color_breeze #d7f1f8;
@define-color theme_unfocused_selected_bg_color_alt_breeze #033048;
@define-color theme_unfocused_selected_bg_color_breeze #033048;
@define-color theme_unfocused_selected_fg_color_breeze #d7f1f8;
@define-color theme_unfocused_text_color_breeze #d7f1f8;
@define-color theme_unfocused_view_bg_color_breeze #050d14;
@define-color theme_unfocused_view_text_color_breeze #4b5960;
@define-color theme_view_active_decoration_color_breeze #034d6f;
@define-color theme_view_hover_decoration_color_breeze #034d6f;
@define-color tooltip_background_breeze #050e15;
@define-color tooltip_border_breeze #2f3b42;
@define-color tooltip_text_breeze #d7f1f8;
@define-color unfocused_borders_breeze #2f3b42;
@define-color unfocused_insensitive_borders_breeze #131c23;
@define-color warning_color_backdrop_breeze #01587d;
@define-color warning_color_breeze #01587d;
@define-color warning_color_insensitive_backdrop_breeze #032637;
@define-color warning_color_insensitive_breeze #032637;
